<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="OverParse.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<probing privatePath="modules" />
		</assemblyBinding>
	</runtime>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <userSettings>
        <OverParse.Properties.Settings>
            <setting name="Path" serializeAs="String">
                <value>C:\Program Files (x86)\SEGA\PHANTASYSTARONLINE2\pso2_bin</value>
            </setting>
            <setting name="Initialized" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DamageSI" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Clock" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AutoEndEncounters" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RegistID" serializeAs="String">
                <value>10000000</value>
            </setting>
            <setting name="AlwaysOnTop" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IsShowGraph" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IsGraphHighLight" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MyColorBrush" serializeAs="String">
                <value>#8000FFFF</value>
            </setting>
            <setting name="OddLeftColor" serializeAs="String">
                <value>#80008080</value>
            </setting>
            <setting name="EveLeftColor" serializeAs="String">
                <value>#80004040</value>
            </setting>
            <setting name="OddRgtColor" serializeAs="String">
                <value>#801E1E1E</value>
            </setting>
            <setting name="EveRgtColor" serializeAs="String">
                <value>#00000000</value>
            </setting>
            <setting name="OtherBrush" serializeAs="String">
                <value>#00000000</value>
            </setting>
            <setting name="Onlyme" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="QuestTime" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="WindowOpacity" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="BackContent" serializeAs="String">
                <value>Color</value>
            </setting>
            <setting name="BackColor" serializeAs="String">
                <value>#FF0A0A0A</value>
            </setting>
            <setting name="ImagePath" serializeAs="String">
                <value>Path</value>
            </setting>
            <setting name="FontColor" serializeAs="String">
                <value>#FFFFFFFF</value>
            </setting>
            <setting name="ListOpacity" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="Height" serializeAs="String">
                <value>200</value>
            </setting>
            <setting name="Width" serializeAs="String">
                <value>600</value>
            </setting>
            <setting name="Left" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="Top" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="Maximized" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ClickthroughEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AutoHideWindow" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Nodecimal" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MaxSI" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DPSSI" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DamagedSI" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Foreground" serializeAs="String">
                <value>#FFFFFFFF</value>
            </setting>
        </OverParse.Properties.Settings>
    </userSettings>
</configuration>